.signup {
  background-color: white;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Cabin", sans-serif;
}

.signup > p {
  margin-top: 10px;
  color: darkgray;
}

.signup-logo {
  margin-top: 20px;
  margin-bottom: 20px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.signup-container {
  width: 350px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid lightgray;
  padding: 20px;
}

.signup-container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.signup-container > form > h5 {
  font-size: 14px;
  margin-bottom: 5px;
}

.signup-container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: #fff;
  width: 98%;
}

.signup-container > p {
  margin-top: 15px;
  font-size: 12px;
}

.detail {
  display: flex;
  margin-top: 15px;
  border-top: 1px solid lightgray;
}

.signin-link {
  margin-left: 5px;
  font-size: 14px;
  text-decoration: none;
}

